# Ignore Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.sav

# Ignore virtual environments
env/
venv/
.venv/

# Ignore system and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.spyproject/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset backups or large files
*.csv
*.xlsx
*.zip

# Ignore Streamlit and log files
.streamlit/
logs/
